[flake8]
select = B,B9,C,D,E,F,I,S,W
extend-ignore = D100,D401,E203,E501,W503
application-import-names = reporter
import-order-style = cryptography
max-complexity = 12
max-line-length = 88
per-file-ignores =
	tests/*:D,S101,S105
	# TODO: Fix all lints
	seoanalyzer/*:C,D,S,F
	__init__.py:F401
